<!DOCTYPE html>
<html>
    <head>
        <title>Breeze Homepage</title>
        <link rel="stylesheet" href="public/styles.css" />
        <script src="public/frontend.js"></script>
    </head>
    <body class="slab">
        <nav>
            <a href="/"><h1>Breeze</h1></a>
            <a href="/messaging">Messaging</a>
            <span>|</span>
            <a href="/signup">Sign up/Login in</a>
        </nav>
        <h1>Welcome to <span class="sparkle">Breeze</span> Messaging!</h1>
    </body>
</html>